html, body{margin: 0; padding: 0;}

header{
    background-color:#001a33;
    color: whitesmoke;
    position:absolute;
    left:0;
    top:0;
    width: 100%;
}

.search-logo{
    display: flex;
}

.logo-container{
    flex: 1;
    border: 2px red dotted;
}
.logo{
    text-align: right;
}
.searchbar{
    flex: 2;
    margin:auto;
    border: 2px red dotted;
}

.searchbar input{
    padding: 10px 10px; 
    line-height: 18px;
    border-radius: 10px;
    width: 65%;
}