:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

html, body{margin: 0; padding: 0;}

header{
    background-color:#011424;
    color: whitesmoke;
    position:absolute;
    left:0;
    top:0;
    width: 100%;
}

.search-logo{
    display: flex;
}

.logo-container{
    flex: 1;
    display: flex;
    /* border: 2px red dotted; */
    text-align: left;
    align-items:center;
}

.logo-img{
    flex: 2;
    text-align: right;
    float: right;
}
.logo-text{
    font-size:20px;
    color: whitesmoke;
}

.searchbar{
    flex: 2;
    margin:auto;
    padding-left: 20px;
}

.searchbar input{
    float: left;
    padding: 3px 8px 3px 8px; 
    line-height: 8px;
    border-radius: 6px;
    width: 75%;
    background-color: #283241;
    font-size: 18px;
}

/* navigation styles start here */
header{
    text-align: center;
    position: fixed;
    z-index: 999;
    width:100%;
}

/* nav */
nav{
    margin-top: 0;
    padding: 0;
    width:50%;
    /* border: 2px white dotted; */
    margin:auto;
    text-align: left;
    display: flex;
    justify-content: left ;
}
.mainMenu{
    margin:0;
    padding: 0;;
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a{
    display: inline-block;
    padding: 0px 15px 0px;
    text-decoration: none;
    color: white;

    font-size: 1.2rem;
    text-transform: uppercase;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav .mainMenu li a:hover{
    background-color: var(--bg-primary);
    color: rgb(131, 119, 187);
} 
nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-linkedin:hover{color: rgb(33, 22, 199);}
.fa-github:hover{color: rgb(83, 8, 153);}

/* media queries  */

@media(max-width: 800px){
    nav{
        margin-left: 0;
    }
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top:0;
        right: 0;
        left: 0;
        z-index: 999;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-secondary);
        transition: top 1s ease ;
        display: none;
    }
    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu{
        display: block;
    }
    nav .mainMenu li a:hover{
        background: none;
        color: rgba(255, 94, 0, 1);
        font-size: 1.6rem;
    }
    .icons i{
        display: inline-block;
        padding: 12px;
    }
}