<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HomePage</title>
  <meta name="description" content="Stock Visualization">
  <meta name="author" content="JICH">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/charts.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
  <!-- lightweight charts -->
  <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

</head>

<body>
    <header>
        <div class="search-logo">
            <div class="openMenu"><i class="fa fa-bars"></i></div>
            <div class="logo-container">
                <div class="logo-img">
                    <img src="../static/images/logo.png" alt="" width="100px" height="100px">
                </div>
                <div class="logo-text">Stockprer</div>
            </div>
            <div class="searchbar">
                <div class="search-bar">
                    <input class="search-input" type="text" placeholder="Name, eg. Apple" aria-label="search">
                    <button class="searchbar-submit submit_btn" aria-label="submit search"><i class="fas fa-search"></i></button>
                </div>
                <div class="autocom-box">
                    {%for ticker in tickers%}  
                        <li>{{ticker}}</li>
                    {%endfor%}
                </div>
            </div>            
        </div>
        <nav>
            <ul class="mainMenu">
                <li><a href="/">Home</a></li>
                <li><a href="/companies">Companies</a></li>
                <li><a href="/code">Model</a></li>
                <li><a href="#">About</a></li>
                <div class="closeMenu"><i class="fa fa-times"></i></div>
                <span class="icons">
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-github"></i>
                    <i></i>
                </span>
            </ul>
        </nav>
        
    </header>
    <!-- end header -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/suggestions.js"></script>
    <script src="../static/js/logic.js"></script>
    <!-- initial chart on index page -->
    <script src="../static/js/index_chart.js"></script>
</body> 
</html>