{% extends "base.html" %}

{%block content%}

 <div class="wrapper" style="background-color: white">
    <div class="container-main">
        <br><br>
        {%for ticker in tickers%}
  
        <div class="col">
            <div class="box-header">
                <a href="http://127.0.0.1:5000/models/{{ticker.symbol}}"><h1>{{ticker.name}} - {{ticker.symbol}}</h1></a>

            </div>
            <hr>
            <div class="company-logo">
                <a href="http://127.0.0.1:5000/models/{{ticker.symbol}}"><img src="../static/images/{{ticker.symbol}}.png" alt=""></a>                
            </div>
            <div class="company-description">
                <p class="text-descr">{{ticker.description}}</p>
            </div>
        </div>
        <br><br>
        {%endfor%}

    </div>
 </div>
{% endblock %}