<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HomePage</title>
  <meta name="description" content="Stock Visualization">
  <meta name="author" content="JICH">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <header>
        <div class="search-logo">
            <div class="logo-container"><img src="../static/images/logo.png" alt="" width="100px" height="100px"></div>
            <div class="searchbar"><input type="text" placeholder="Symbol, eg. AAPL"></div>            
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Description</a></li>
            </ul>
        </nav>
    </header>
    <!-- end header -->
    <main>
      
    </main>
</body> 
</html>