<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HomePage</title>
  <meta name="description" content="Stock Visualization">
  <meta name="author" content="JICH">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <header>
        <div class="search-logo">
            <h1 class="logo">LOGO</h1>
            <input class="searchbar" type="text" placeholder="Search..">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Description</a></li>
            </ul>
        </nav>
    </header>
    <!-- end header -->
    <main>
      
    </main>
</body> 
</html>